.offers_status {
  padding: 10px 0;
  .container {
    div {
      position: relative;
      padding: 18px;
      background-color: #f1f4ff;
      border-radius: 20px;
      box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3);
      h3 {
        @include font(400, 18px);
        margin: 0;
        margin-bottom: 24px;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 28px;
        b {
          @include font(400, 18px);
        }
      }
      p {
        margin: 0;
        position: absolute;
        top: 18px;
        right: 18px;
      }
    }
  }
}
